.button_blue{
    background-color:#6071ff ;
    margin-top: 20px;
    border: none;
    height: 25px;
    width: 8vw;
    color: white;
    border-radius:5px ;
    text-decoration: none;
}

.button_blue:hover{
    background-color: #4f60e8;
    margin-top: 20px;
    border: none;
    height: 25px;
    width: 8vw;
    border-radius:5px ;
}

.Box a{
    text-decoration: none;
    color: #f6f6f6;
}