.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25vh ;

}

.compani{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 10vh;
    font-size: 1vw;
}
.Content{
    width: 15vw;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 30px;
    width: 8vw;
    font-size: 2vh;
    border-radius:5px ;
}

.Content{
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:5px ;
    width: 10vw;
    height: 35vh;
    background-color: #fff;
    border:2px solid #6071ff;

}

