*{
    padding: 0;
    margin: 0;
    color: #FFF3E4;
    font-family: sans-serif;
    text-decoration: none;
}


h1{
    font-family: 'Monoton', cursive;
    color: #EED6C4;
}

.Group{
    display: flex;
}

.Section1{
    height: 100vh;
    background-color: #483434;
    width: 20vw;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Logo img{
    height: 100px;
    width: 100px;
}

.Section2{
    height: 100vh;
    background-color: #6B4F4F;
    width: 80vw;
}


nav{
    display:flex ;
    flex-direction: column;
}

nav a{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 80px;
    width: 100%;
    font-size: 25px;
}

nav a:hover{
    background-color: #6B4F4F;
    color: #EED6C4;

}

.Content{
    height: 90vh;
    width: 70vw;
    margin:10px;
    border: 2px solid #392828;
    border-radius: 5px;
}

.Btn{
    margin-left: 10px;
    background-color: #483434;
    height: 50px;
    width: 100px;

    border: 2px solid #392828;
    border-radius: 5px;
}

.Btn:hover{
    background: #392828;
}

input{
    margin-left:10px ;
    height: 50px;
    border: 2px solid #392828;
    border-radius: 5px;

    width: 60vw;
}