.Group_Friends{
    width: 15vw;
    height: 99.6vh;
    border: #392828 solid 2px;
    margin-left: 5px;
}

.Dialog{
    width: 40vw;
    height: 80vh;
    flex-direction: column;

}

.Group_section2{
    margin-left: 10px;
    border:#392828 solid 2px ;
    width: 60vw;
    height: 85vh;
}

.Left{
    margin-left: 10px;
}


.inputs{
    width: 60vw;
    margin-top: 30px;
    display: flex;
}

.SectionDialog{
    display: flex;
}

.Content_friends{
    margin-top: 10px;
    margin-left: 10px;
    height: 70px;
    width: 14vw;
    display: flex;
    align-items: center;
    background-color: #392828;
    border-radius: 5px;
}

.Content_friends img{
    border-radius:100% ;
    padding-left: 10px;
    height: 50px;
    width: 50px;
}

.Name_friends{
    padding-left: 10px;
}