.Profile_Box{
    display: flex;
    flex-direction: column;
    height: 37vh;
    width: 13vw;
    background: #392828;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    align-items: center;
}
.Profile_Box img{
    padding-top: 30px;
    height: 20vh;
    width: 10vw;
    border-radius: 10px;
}

.Section2{
    display: flex;
}

.Name{
    font-size: 30px;
}

.Name_info{

}

.Content_Profile{
    border: #392828 solid 2px;
    margin-left: 150px;
    border-radius: 5px ;
    width: 50vw;
    margin-top: 50px;
    padding-left: 10px;
}

.Opisanie{
    background: #392828;
    border-radius: 10px;
    width: 45vw;
    height: 300px;
    margin-left: 20px;
}