.Box{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.Content{
    display: flex;
    justify-content: center;
    border: #000 solid 1px;
    border-radius:2px;
}

.time{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.img{
    margin-right:10px;
    background-color: #1F1C18;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 30px;
    font-size: 20px;
    border-radius:5px ;
}

.Btn{
    margin-top: 20px;
    height: 25px;
    width: 200px;
}

.Content{
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:5px ;
    width: 300px;
    height: 400px;
    background-color: #fff;

}

.Box_Btn{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.Elou{
    background-color: #f3c20e;
}
.Greane{
    background-color: #1c9e1f;
}
